<div class="row">
    <div class="col-md-10 col-lg-11">
        <h3>Angular RC6 Bundle with webpack example</h3>
        <div class="row">
            <div class="col-md-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9">
                <app-content>
                        <div>
                            This text inside app-content component tags in template
                        </div>
                </app-content>
            </div>
        </div>
    </div>
</div>


